<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>project</key>
	<string>ArenaShareSDK</string>
	<key>namespace</key>
	<string></string>
	<key>supports</key>
	<array>
		<dict>
			<key>api</key>
			<string>arena.extra.share</string>
			<key>method</key>
			<string>share:</string>
			<key>className</key>
			<string>Share</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>api</key>
			<string>arena.extra.shareImage</string>
			<key>method</key>
			<string>shareImage:</string>
			<key>className</key>
			<string>Share</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>api</key>
			<string>arena.biz.util.downloadImgAndShare</string>
			<key>method</key>
			<string>downloadImgAndShare:</string>
			<key>className</key>
			<string>Share</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>api</key>
			<string>arena.extra.shareSP</string>
			<key>method</key>
			<string>shareSP:</string>
			<key>className</key>
			<string>Share</string>
			<key>async</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
